# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Project specifics
data/*.zip
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/train/.gitkeep
!data/processed/test/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
!checkpoints/segmentation/.gitkeep
!checkpoints/heading_controller/.gitkeep
results/*
!results/.gitkeep
!results/figures/.gitkeep
!results/metrics/.gitkeep

# macOS
.DS_Store